<div class="w3-content w3-container w3-padding-64" id="about">
    <div class="w3-col m4 w3-center w3-padding-large">
            <img src="/img/yo.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Yo" width="500" height="333">
        </div>
    <div class="w3-col m8 w3-center w3-padding-large">
            <h3 class="w3-center">Servicios</h3>
        <p class="w3-center"><em>Me rayo la cara con javascript</em></p>
        <p>Hola a todos, en estos momentos tan duros (las 23:00 de un miercoles) he decidido describirme como una persona cansada, con los ojos caidos despues de un duro día de trabajo, de ir a ver a mi hija y de volverme triste de no poder tenerla conmigo.</p>
        <p>Tras esto, en vez de hacer una web desde cero, he pillado una plantilla de w3c y la he modificado para poder ofreceros un trabajo al menos elegante (no gracias a mí) en la parte front, ya veremos si es así también en la parte back.</p>
    </div>
</div>


